body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

nav ul {
    list-style: none;
    padding: 10px;
    background-color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.gallery-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.price-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

button.pre-order {
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button.pre-order:hover {
    background-color: rgb(2, 77, 2);
}



